version: '3.8'

services:
  TTS-Infer:
    image: 007hikari/gpt-sovits-infer:latest
    container_name: miku-voice-backend
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
    ports:
      - "9880:9880"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    volumes:
      # 1. 挂载基础预训练模型 (BERT 等)
      # 请确保宿主机该目录下有 s1bert25hz-2kh-longer-epoch=68e-step=50232.ckpt 等文件
      - ./:/app/GPT_SoVITS/pretrained_models
      
      # 2. 挂载微调后的模型
      # 存放您的 .ckpt (GPT) 和 .pth (SoVITS) 文件
      - ./gpt_models:/app/gpt_weights
      - ./sovits_models:/app/sovits_weights
      
      # 3. 挂载参考音频 (Ref Audio)
      # 存放 miku_ref.wav 等
      - ./ref_audios:/app/ref_audio
    environment:
      # 如果需要调整显存分配策略，可在此添加 PyTorch 环境变量
      - CUDA_VISIBLE_DEVICES=0
    networks:
      - nginx_proxy

networks:
  nginx_proxy:
    external: true