torch
torchaudio
numpy<2.0
scipy
fastapi[standard]>=0.115.2
pydantic<=2.10.6
uvicorn
librosa==0.10.2
ffmpeg-python
cn2an
pypinyin
pyopenjtalk>=0.4.1
g2p_en
jieba
jieba_fast
wordsegment
split-lang
fast_langdetect>=0.3.1
ToJyutping
g2pk2
ko_pron
opencc
transformers>=4.43,<=4.50
sentencepiece
PyYAML
psutil